DATABASE_URL="mysql://username:password@localhost:3306/db_name"
DATABASE_USER="username"
DATABASE_PASSWORD="password"
DATABASE_NAME="db_name"
DATABASE_HOST="localhost"
DATABASE_PORT= 3306


JWT_SECRET = "your_jwt_secret_key"

# ML Server (FastAPI) — ganti URL ini sesuai deployment ML Anda
ML_SERVER_URL = "porturl"